@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins, sans-serif";
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: black;
  --primary: #d04792;
  --secondary: #444;
  --text-color: #fefefe;
  --main-color: white;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

/* wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
} */
/* 
section {
  margin-top: 10rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 10%;
  background: black rgba(0, 0, 0, 6);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--primary);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

.logo span {
  color: var(--main-color);
} */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  color: var(--primary);
  font-size: 14px;
  margin-right: 3px;
}

.logo span {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
}

.navbar {
  display: flex;
  gap: 50px;
}

.navbar a {
  color: var(--text-color);
}

.navbar {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0px 30px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: var(--green);
}

.navbar a.active {
  color: var(--green);
}

#menu-icon {
  font-size: 35px;
  color: var(--primary);
  cursor: pointer;
  z-index: 10001;
  display: none;
}
/* home */
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  margin: 0 2rem;
  padding: 5rem;
  height: 100vh;
}

.home-img {
  background-image: url(img/bg-hero-img.svg);
  background-position: initial;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.home-img img {
  border-bottom: 1px var(--text-color) solid;
  width: 30vw;
  height: 60vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-content h1 {
  text-wrap: balance;
  font-size: 4.5rem;
  color: var(--primary);
}
.home-content q {
  font-size: 1rem;
}
/* eND OF HOME */

/* about */
.about-section {
  background: linear-gradient(
    90deg,
    rgba(254, 97, 157, 1) 0%,
    rgba(196, 106, 242, 1) 44%,
    rgba(225, 226, 255, 1) 100%
  );
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
}

.about-section .about-left {
  margin-left: 3rem;
  max-width: 100vh;
}
.about-section .about-left img {
  border-radius: 50%;
  width: 480px;
}

.about-section .about-right {
  margin-right: 2rem;
  min-width: 10vw;
  width: auto;
}
.about-section .about-right .about_context {
  white-space: normal;
}
.about-section .about-right h1 {
  color: var(--primary);
  font-size: 37px;
  margin-bottom: 5px;
}
.about-right p {
  color: #444;
  line-height: 26px;
  font-size: 15px;
}

.about-right .expertise .hobbies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.about-right .expertise .hobbies .hobbies_box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.expertise {
  margin-top: 2rem;
}

.about-right .expertise h3,
.about-right .fun_fact h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--primary);
}
.expertise .expertise-logo {
  font-size: 19px;
  color: var(--secondary);
}

.fun_fact {
  margin-top: 2rem;
  color: var(--primary);
}

/* .about-section .about-left {
  width: 30vw;
  height: 40vh;
} */
/* .about-section .about-left {
  width: 100vw;
  height: 100vh;
}
.about-section .about-left img {
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}
.about-section .about-right {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 10vw;
  width: auto;
} */
/* .about-section .about-right .about_context {
  white-space: normal;
}
.about-section .about-right h1 {
  color: var(--primary);
  font-size: 37px;
  margin-bottom: 5px;
}
.about-right p {
  color: #444;
  line-height: 26px;
  font-size: 15px;
}

.about-right .expertise .hobbies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.about-right .expertise .hobbies .hobbies_box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.expertise {
  margin-top: 2rem;
}

.about-right .expertise h3,
.about-right .fun_fact h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--primary);
}
.expertise .expertise-logo {
  font-size: 19px;
  color: var(--secondary);
}

.fun_fact {
  margin-top: 2rem;
}

.fun_fact {
  color: var(--primary);
} */

/* my works */

.my_works_container {
  margin: 1rem 5rem;
  padding: 5rem;
}

.my_works_container .my_work_header {
  min-width: 50vw;
  text-align: center;
  color: var(--primary);
}
.my_work_header .text_header {
  font-size: 37px;
  font-weight: 600;
  margin-bottom: 3rem;
}

.imagemyworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.my_works {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  text-align: center;
}

.image-container img {
  width: 23vw;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.image-container h1 {
  margin-top: 1rem;
  font-size: 2rem;
}

.image-container {
  margin-top: 1rem;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-container a {
  color: rgb(255, 255, 255);
}
/* End Of My Works */

.contact {
  position: relative;
  bottom: 0;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(254, 97, 157, 1) 0%,
    rgba(196, 106, 242, 1) 44%,
    rgba(225, 226, 255, 1) 100%
  );
}

.contact .context {
  max-width: 800px;
  text-align: center;
}

.contact .context h2 {
  font-size: 36px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 3rem;
}
.contact .context p {
  font-size: 15px;
  color: var(--secondary);
  font-weight: 500;
}
.content_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.content_container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.content_container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.content_container .contactInfo .box .icon {
  color: var(--primary);
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  background-color: #fff;
}

.content_container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

.text {
  color: var(--secondary);
}

.text h3 {
  color: var(--primary);
}

.contact-img {
  background-image: url(img/blob.svg);
  background-size: 100%;
}

.contact-img img {
  width: 100%;
  height: auto;
}
