@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins, sans-serif";
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #121212;
  --primary: #d04792;
  --secondary: #444;
  --text-color: #fefefe;
  --main-color: white;
  --box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  --background: linear-gradient(
    90deg,
    rgba(254, 97, 157, 1) 0%,
    rgba(196, 106, 242, 1) 44%,
    rgba(225, 226, 255, 1) 100%
  );
}

::selection {
  color: #ffffff;
  background-color: #252525;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  color: var(--primary);
  font-size: 14px;
  margin-right: 3px;
}

.logo span {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
}

.navbar {
  display: flex;
  gap: 50px;
}

.navbar a {
  color: var(--text-color);
}

.navbar {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0px 30px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: var(--green);
}

.navbar a.active {
  color: var(--green);
}

#menu-icon {
  font-size: 35px;
  color: var(--primary);
  cursor: pointer;
  z-index: 10001;
  display: none;
}
/* home */
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  margin: 0 2rem;
  padding: 5rem;
  height: 100vh;
}

.home-img {
  background-image: url(img/bg-hero-img.svg);
  background-position: initial;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.home-img img {
  border-bottom: 1px var(--text-color) solid;
  width: 30vw;
  height: 60vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-content h1 {
  text-wrap: balance;
  font-size: 4.5rem;
  color: var(--primary);
}
.home-content q {
  font-size: 1rem;
}
/* eND OF HOME */

/* about */
.about-section {
  background: linear-gradient(
    90deg,
    rgba(254, 97, 157, 1) 0%,
    rgba(196, 106, 242, 1) 44%,
    rgba(225, 226, 255, 1) 100%
  );
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
}

.about-section .about-left {
  margin-left: 3rem;
  max-width: 100vh;
}
.about-section .about-left img {
  border-radius: 50%;
  width: 480px;
}

.about-section .about-right {
  margin-right: 2rem;
  min-width: 10vw;
  width: auto;
}
.about-section .about-right .about_context {
  white-space: normal;
}
.about-section .about-right h1 {
  color: var(--primary);
  font-size: 37px;
  margin-bottom: 5px;
}
.about-right p {
  color: #444;
  line-height: 26px;
  font-size: 15px;
}

.about-right .expertise .hobbies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.about-right .expertise .hobbies .hobbies_box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.expertise {
  margin-top: 2rem;
}

.about-right .expertise h3,
.about-right .fun_fact h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--primary);
}
.expertise .expertise-logo {
  font-size: 19px;
  color: var(--secondary);
}

.fun_fact {
  margin-top: 2rem;
  color: var(--primary);
}
/* my works */

.my_works_container {
  margin: 1rem 5rem;
  padding: 5rem;
}

.my_works_container .my_work_header {
  min-width: 50vw;
  text-align: center;
  color: var(--primary);
}
.my_work_header .text_header {
  font-size: 37px;
  font-weight: 600;
  margin-bottom: 3rem;
}

.imagemyworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.my_works {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  text-align: center;
}

.image-container img {
  width: 23vw;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.image-container h1 {
  margin-top: 1rem;
  font-size: 2rem;
}

.image-container {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-container a {
  color: rgb(255, 255, 255);
}

.box_works {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 16px;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: var(--primary);
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgb(151, 146, 146);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
/* End Of My Works */

/* Reviews Style */

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#testimonials .reviews_header {
  padding: 5rem;
}
#testimonials .reviews_header h4 {
  font-size: 28px;
  color: var(--primary);
}

.testimonial-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}
.testimonial-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--primary);
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile {
  display: flex;
  align-items: center;
}
.name-user {
  display: flex;
  flex-direction: column;
}
.name-user strong {
  color: var(--text-color);
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span {
  color: #979797;
  font-size: 0.8rem;
}
.reviews {
  color: #f9d71c;
}
.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p {
  font-size: 0.9rem;
  color: var(--secondary);
}
.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

.reviews_container {
  position: relative;
  width: 400px;
  background: #111;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reviews_container .post {
  display: none;
}
.reviews_container .text {
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.reviews_container .edit {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.reviews_container .edit:hover {
  text-decoration: underline;
}
.reviews input[type="radio"] {
  display: none;
}
.reviews label {
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}
input:checked ~ label {
  color: #fd4;
}
input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
.reviews_container form {
  display: none;
}
input:checked ~ form {
  display: block;
}
form header {
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus {
  border-color: #444;
}
/* name */
form .name {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .name textarea {
  height: 60%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.name textarea:focus {
  border-color: #444;
}
form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover {
  background: #1b1b1b;
}

/* Contact Style */
.contact {
  position: relative;
  bottom: 0;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(254, 97, 157, 1) 0%,
    rgba(196, 106, 242, 1) 44%,
    rgba(225, 226, 255, 1) 100%
  );
}

.contact .context {
  max-width: 800px;
  text-align: center;
}

.contact .context h2 {
  font-size: 36px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 3rem;
}
.contact .context p {
  font-size: 15px;
  color: var(--secondary);
  font-weight: 500;
}
.content_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.content_container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.content_container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.content_container .contactInfo .box .icon {
  color: var(--primary);
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  background-color: #fff;
}

.content_container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

.text {
  color: var(--secondary);
}

.text h3 {
  color: var(--primary);
}

.contact-img {
  background-image: url(../img/blob.svg);
  background-size: 100%;
}

.contact-img img {
  width: 100%;
  height: auto;
}
